{
  "mcpServers": {
    "fetch": {
      "command": "uvx",
      "args": ["mcp-server-fetch"],
      "client_session_timeout_seconds": 300
    },
    "sqlite": {
      "command": "uvx",
      "args": [
        "mcp-server-sqlite",
        "--db-path",
        "/home/migtronix/db.sqlite"
      ],
      "client_session_timeout_seconds": 300
    }
  }
}
